<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gameinterface.shapes">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/main_icon"
        android:largeHeap="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:scaleType="fitCenter"
        android:screenOrientation="portrait">
        <activity
            android:name="gameinterface.shapes.LoginScreen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="gameinterface.shapes.MainMenu"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName="gameinterface.shapes.LoginScreen"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="gameinterface.shapes.MainMenu" />
        </activity>
        <activity
            android:name="gameinterface.shapes.PlayMenu"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName="gameinterface.shapes.MainMenu"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="gameinterface.shapes.MainMenu" />
        </activity>
        <activity
            android:name="gameinterface.shapes.FriendsMenu"
            android:label="@string/app_name"
            android:parentActivityName="gameinterface.shapes.MainMenu"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="gameinterface.shapes.MainMenu" />
        </activity>
        <activity
            android:name="gameinterface.shapes.ScoresMenu"
            android:label="@string/app_name"
            android:parentActivityName="gameinterface.shapes.MainMenu"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="gameinterface.shapes.MainMenu" />
        </activity>
        <activity
            android:name="storage.shapes.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="gameinterface.shapes.HelpScreen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName="gameinterface.shapes.MainMenu"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="gameinterface.shapes.MainMenu"/>
        </activity>
        <activity android:name="gameinterface.shapes.SettingsScreen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName="gameinterface.shapes.MainMenu"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="gameinterface.shapes.MainMenu"/>
        </activity>
    </application>
</manifest>
