<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fthomas.shapes">

    <application
        android:allowBackup="true"
        android:icon="@drawable/main_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:scaleType="fitCenter">

        <activity
            android:name=".MainMenu"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PlayMenu"
            android:label="Shapes"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".MainMenu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fthomas.shapes.MainMenu" />
        </activity>
        <activity
            android:name=".FriendsMenu"
            android:label="Shapes"
            android:parentActivityName=".MainMenu"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fthomas.shapes.MainMenu" />
        </activity>
        <activity
            android:name=".ScoresMenu"
            android:label="Shapes"
            android:parentActivityName=".MainMenu"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fthomas.shapes.MainMenu" />
        </activity>
        <activity
            android:name="storage.shapes.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".HelpScreen"
            android:label="Shapes"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".MainMenu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fthomas.shapes.MainMenu"/>
        </activity>
        <activity android:name=".SettingsScreen"
            android:label="Shapes"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".MainMenu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fthomas.shapes.MainMenu"/>
        </activity>
    </application>

</manifest>
